/* ANIMAÇÃO SUAVE DE LEVITAR */
@keyframes floatY {
    0% {
        transform: translateY(0) rotate(var(--rotate, 0deg));
    }

    50% {
        transform: translateY(-50px) rotate(var(--rotate, 0deg));
    }

    100% {
        transform: translateY(0) rotate(var(--rotate, 0deg));
    }
}

@keyframes floatY2 {
    50% {
        transform: translateY(-20px) rotate(var(--rotate, 0deg));
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

/* LINKS DE TRANSIÇÃO */
#introlink {
    position: absolute;
    top: -700px;
}

#biolink {
    position: absolute;
    top: -90px;
}

#teclink {
    position: absolute;
    top: 1670px;
}

#footerlink {
    position: absolute;
    margin-top: -270px;
}

/* LINKS SEM EFEITO */
#Link {
    text-decoration: none;
    color: inherit;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #000000;
    filter: opacity(80%);
}

/* HEADER */
Header {
    position: fixed;
    z-index: 6;
    background-color: #000000;
    box-shadow: 0px 25px 15px #000000;
    width: 100%;
    height: 40px;
    filter: opacity(90%);
    top: 0;
    left: 0;

    & #opç-header {
        position: absolute;
        cursor: pointer;
        display: flex;
        list-style: none;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        filter: opacity(520%);
        font-style: normal;
        font-size: 12px;
        color: #fcf9f9;
        gap: 160px;
        top: 5px;
        left: 100px;
    }

    & li:hover {
        color: rgb(62, 207, 111);
        text-decoration: underline;
        transition: 0.2s;
    }

    & #Contact1 {
        cursor: pointer;
        position: relative;
        left: 1200px;
        top: 10px;

        & #insta {
            height: 40px;
        }

        & #github {
            height: 40px;
        }
    }
}

/* INTRODUÇÃO */
.intro {
    position: relative;
    color: #fcf9f9;
    text-align: center;
    top: 320px;
    left: 50%;
    transform: translate(-50%);
    transition: text-shadow 0.3s ease;

    & h1 {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 50px;
        animation: slideInUp 0.6s ease-out;
    }

    & p {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        margin-top: -30px;
        font-size: 23px;
        animation: slideInUp 0.6s ease-out;
    }
}

.intro:hover {
    text-shadow: 0 0 10px rgb(55, 184, 98);
    transition: text-shadow 0.3s ease;
}

/* FOTO */
#foto1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 100px;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    z-index: 2;
}

#circle {
    position: absolute;
    top: 105px;
    left: 50.5%;
    transform: translate(-50%);
    width: 220px;
    height: 220px;
    border-color: rgb(48, 122, 64);
    box-shadow: 0px 0px 20px rgb(48, 122, 64);
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    z-index: 1;
}

#circle.aumentar-sombra {
    box-shadow: 0 0 30px rgb(55, 184, 98);
    transition: box-shadow 0.3s ease;
}

#icon1 {
    position: absolute;
    height: 80px;
    top: -80px;
    left: 57%;
    animation: floatY2 4s ease-in-out infinite;
    z-index: 4;
}

/* BIOGRAFIA */
#bio {
    position: absolute;
    top: 850px;
    left: 120px;
    color: #fcf9f9;
    animation: slideInUp 0.6s ease-out;

    h1 {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 55px;
        transition: text-shadow 0.3s ease;
    }

    h1:hover {
        text-shadow: 0 0 10px rgb(55, 184, 98);
        transition: text-shadow 0.3s ease;
    }

    h1:hover span {
        transition: text-shadow 0.3s ease;
        text-shadow: 0 0 10px rgb(55, 184, 98);
    }

    & #biografia {
        position: absolute;
        z-index: -1;
        display: flex;
        background-color: rgb(36, 36, 36);
        border-color: rgb(55, 184, 98);
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        width: 700px;
        height: 300px;
        top: 120px;
        transition: box-shadow 0.3s ease;
        z-index: 2;
    }

    #biografia:hover {
        transition: box-shadow 0.3s ease;
        box-shadow: 0 0 10px rgb(55, 184, 98);
    }

    p {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        position: absolute;
        top: 14px;
        font-size: 19px;
        left: 50px;
        z-index: 5;
    }

    #foto2 {
        width: 360px;
        height: 360px;
        border-radius: 10px;
        margin-left: 750px;
        margin-top: -55px;
        box-shadow: 0px 0px 10px rgb(67, 216, 117);
        transition: box-shadow 0.3s ease;
    }

    #foto2:hover {
        box-shadow: 0px 0px 25px rgb(55, 184, 98);
        transition: box-shadow 0.3s ease;
    }
}

/* ÍCONES */
.vsicon {
    position: absolute;
    height: 400px;
    top: 1150px;
    left: 100px;
    z-index: -3;
    filter: blur(8px) opacity(70%);
    transform: rotate(-30deg);
    animation: floatY 4s ease-in-out infinite;
    --rotate: -30deg;
}

.hubicon {
    position: absolute;
    height: 400px;
    top: 750px;
    left: 700px;
    z-index: -3;
    filter: blur(12px) opacity(40%);
    transform: rotate(8deg);
    animation: floatY 6s ease-in-out infinite;
    --rotate: 8deg;
}

.htmlicon {
    position: absolute;
    height: 250px;
    top: 1800px;
    left: 60px;
    z-index: -3;
    filter: blur(15px) opacity(30%);
    transform: rotate(10deg);
    animation: floatY 3.5s ease-in-out infinite;
    --rotate: 10deg;
}

.giticon {
    position: absolute;
    height: 350px;
    top: 2200px;
    left: 900px;
    z-index: -3;
    filter: blur(10px) opacity(70%);
    transform: rotate(-10deg);
    animation: floatY 5s ease-in-out infinite;
    --rotate: -10deg;
}

.jsicon {
    position: absolute;
    height: 270px;
    top: 2900px;
    left: 100px;
    z-index: -3;
    filter: blur(10px) opacity(70%);
    transform: rotate(-8deg);
    animation: floatY 6.5s ease-in-out infinite;
    --rotate: -8deg;
}

.reacticon {
    position: absolute;
    height: 350px;
    top: 3000px;
    left: 900px;
    z-index: -3;
    filter: blur(10px) opacity(60%);
    transform: rotate(10deg);
    animation: floatY 4.5s ease-in-out infinite;
    --rotate: 10deg;
}

/* TECNOLOGIAS */
h2 {
    position: relative;
    color: #fcf9f9;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    top: 1550px;
    transition: text-shadow 0.2s ease;
}

h2:hover {
    text-shadow: 0 0 10px rgb(55, 184, 98);
    transition: text-shadow 0.3s ease;
}

h2:hover span {
    transition: text-shadow 0.3s ease;
    text-shadow: 0 0 10px rgb(55, 184, 98);
    /* mesma sombra no span */
}

#tecnologias {
    position: relative;
    display: grid;
    gap: 20px;
    top: 1570px;
    left: 50%;
    transform: translate(-50%);

    & tr {
        justify-content: center;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    & .cartao {
        position: relative;
        top: -50px;
        background-color: rgb(36, 36, 36);
        width: 200px;
        height: 250px;
        display: flex;
        clip-path: polygon(50% 0%,
                100% 25%,
                100% 75%,
                50% 100%,
                0% 75%,
                0% 25%);
        flex-direction: column;
        align-items: center;
        transition: background 0.4s, width 0.4s, height 0.4s, box-shadow 0.4s, color 0.4s;
        color: #fcf9f9;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        cursor: pointer;

        & .ImgTec {
            position: relative;
            opacity: 1;
            top: 50%;
            width: 60%;
            transition: opacity 0.4s ease, transform 0.4s ease;
            transform: translate(0, -50%);
        }

        & .TecHover {
            position: relative;
            opacity: 0;
            top: 50%;
            width: 60%;
            transition: opacity 0.4s ease, transform 0.4s ease;
            transform: translate(0, -150%);
        }
    }

    .cartao:hover {
        width: 280px;
        height: 350px;
        background: linear-gradient(to top, rgb(55, 184, 98), rgb(62, 207, 74));
    }

    .cartao:hover .ImgTec {
        position: relative;
        opacity: 0;
        top: 50%;
        width: 60%;
        transition: opacity 0.4s ease, transform 0.4s ease;
        transform: translate(0, -50%);

    }

    .cartao:hover .TecHover {
        opacity: 1;
        transition: opacity 0.4s ease, transform 0.4s ease;
    }

    .texto {
        position: absolute;
        opacity: 0;
        text-align: center;
        transition: opacity 0.1s ease;

        & h3 {
            position: relative;
            font-size: 25px;
            top: 230px;
        }
    }

    .cartao:hover .texto {
        opacity: 1;
        transition: opacity 1s ease;
    }
}

/* PROJETOS */
#Projetos {
    position: relative;
    top: 1670px;

    & #projlink {
        position: absolute;
        top: -80px;
    }

    & h5 {
        text-align: center;
        color: #fcf9f9;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 65px;
        left: 60px;
        transition: text-shadow 0.3s ease;
    }

    & h5:hover {
        text-shadow: 0 0 10px rgb(55, 184, 98);
    }

    & .projs {
        position: absolute;
        top: 140px;
        left: 20px;
        display: flex;
        gap: 20px;

        & #projbox {
            position: relative;
            width: 460px;
            height: 300px;
            background-color: rgb(36, 36, 36);
            border-radius: 30px;

            .projmini {
                position: absolute;
                width: 230px;
                height: 300px;
                border-radius: 30px 0 0 30px;
            }

            p {
                position: relative;
                color: #fcf9f9;
                font-family: "Manrope", sans-serif;
                font-weight: 800;
                font-size: 25px;
                left: 245px;
            }

            .desc {
                position: relative;
                color: #fcf9f9;
                font-family: "Manrope", sans-serif;
                font-weight: 800;
                font-size: 12px;
                top: -10px;
                left: 245px;
            }

            .view {
                position: relative;
                cursor: pointer;
                top: 110px;
                left: 250px;
                width: 130px;
                height: 40px;
                font-family: "Manrope", sans-serif;
                font-weight: 800;
                background: linear-gradient(to top, rgb(55, 184, 98), rgb(62, 207, 74));
                color: #fcf9f9;
                border: none;
                border-radius: 20px;
            }

            .gitview {
                position: absolute;
                height: 48px;
                left: 390px;
                top: 236px;
            }
        }
    }
}

/* GIF NO FINAL */
#gif {
    position: absolute;
    z-index: -4;
    filter: opacity(30%);
    width: 1349px;
    height: 1349px;
    left: -0px;
    top: 3070px;
}

/* FOOTER */
footer {
    position: relative;
    top: 2550px;
    height: 500px;

    & h5 {
        position: relative;
        color: #fcf9f9;
        text-align: center;
        font-size: 55px;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        transition: text-shadow 0.3s ease;
    }

    & h5:hover {
        text-shadow: 0 0 10px rgb(55, 184, 98);
        transition: text-shadow 0.3s ease;
    }

    & #contato2 {
        margin-top: -60px;
        margin-left: 560px;

        #insta2,
        #github2 {
            cursor: pointer;
            height: 80px;
        }

        p {
            font-family: "Manrope", sans-serif;
            font-weight: 800;
            font-style: normal;
            margin-left: 50px;
            margin-top: 40px;
        }
    }
}

@media (max-width: 767px) {

    /* INTRODUÇÃO */
    .intro {
        position: static;
        width: 100%;
        text-align: center;
        transition: text-shadow 0.3s ease;

        & h1 {
            position: absolute;
            top: 370px;
            font-size: 34px;
        }

        & p {
            position: absolute;
            top: 530px;
            left: 30px;
            font-size: 15px;
        }

        #icon1 {
            display: block;
            margin: 20px auto 0 auto;
            height: 80px;
        }
    }

    /* FOTO */
    #foto1 {
        left: 50%;
        top: 130px;
        width: 240px;
        height: 240px;
        transform: translate(-50%);
    }

    #circle {
        top: 135px;
        left: 52%;
        width: 240px;
        height: 240px;
        transform: translate(-50%);
    }


    /* BIOGRAFIA */
    #bio {
        position: static;
        width: 100%;
        color: #fcf9f9;
        margin-top: 940px;

        h1 {
            position: static;
            font-size: 40px;
            text-align: center;
            margin-bottom: 10px;
        }

        & #biografia {
            position: relative;
            background-color: rgb(36, 36, 36);
            top: 300px;
            left: 10px;
            width: 315px;
            height: 300px;
        }

        p {
            position: relative;
            font-size: 15px;
            text-align: left;
        }

        #foto2 {
            position: relative;
            width: 280px;
            height: 280px;
            top: -250px;
            left: -860px;
            display: block;
        }
    }

}