body {
    background-color: #080808;
}
/* LINKS SEM EFEITO */
#Link{
    text-decoration: none;
    color: inherit;
}
/* HEADER */
Header {
    position: fixed;
    z-index: 4;

    & #opç-header {
        position: absolute;
        cursor: pointer;
        display: flex;
        list-style: none;
        font-family: "Roboto Condensed", serif;
        color: #fcf9f9;
        gap: 200px;
        top: 5px;
        left: 60px;
    }

    & li:hover {
        color: rgb(62, 207, 111);
        text-decoration: underline;
        transition: 0.2s;
    }

    & #contato1 {
        cursor: pointer;
        position: relative;
        left: 1200px;
        top: 10px;

        & #insta {
            height: 40px;
        }

        & #github {
            height: 40px;
        }
    }
}

/* FOTO */
#foto1 {
    position: absolute;
    left: 800px;
    top: 150px;
    width: 360px;
    height: 360px;
    border-radius: 50%
}

#circle {
    position: absolute;
    z-index: -1;
    top: 155px;
    left: 805px;
    width: 360px;
    height: 360px;
    border-color: rgb(48, 122, 64);
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
}

/* INTRODUÇÃO */
#intro {
    position: absolute;
    font-family: "Roboto Condensed", serif;
    color: #fcf9f9;
    left: 100px;
    top: 200px;
    font-size: 30px;

    & p {
        position: absolute;
        left: 10px;
        margin-top: -30px;
        font-size: 23px;
    }
}

/* TECNOLOGIAS */
#tecnologias{
    display: flex;
    position: absolute;
    top: 1000px;
    left: 150px;
    gap: 350px;

    & #cartão{
        position: absolute;
        z-index: -1;
        display: flex;
        background-color: rgb(36, 36, 36);
        border-color: rgb(55, 184, 98);
        border-style: solid;
        border-radius: 40px;
        border-width: 5px;
        width: 300px;
        height: 500px;
        justify-content: center;

        & #tec{
            margin-top: 20px;
            width: 130px;
            height: 180px;
        }

        p{
            position: absolute;
            top: 205px;
            font-size: 30px;
        }
    }

    & #content {
        color: #fcf9f9;
        font-family: "Roboto Condensed", serif;
    }
}