html {
    scroll-behavior: smooth;
}

body {

    background-color: #000000;
}

/* LINKS DE TRANSIÇÃO */
#introlink {
    position: absolute;
    top: -200px;
}

#biolink {
    position: absolute;
    top: -90px;
}

#teclink {
    position: absolute;
    top: 1520px;
}

#footerlink {
    position: absolute;
    margin-top: -270px;
}

/* LINKS SEM EFEITO */
#Link {
    text-decoration: none;
    color: inherit;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #000000;
    filter: opacity(80%);
}

/* HEADER */
Header {
    position: fixed;
    z-index: 6;
    background-color: #000000;
    box-shadow: 0px 25px 15px #000000;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;

    & #opç-header {
        position: absolute;
        cursor: pointer;
        display: flex;
        list-style: none;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 15px;
        color: #fcf9f9;
        gap: 160px;
        top: 5px;
        left: 60px;
    }

    & li:hover {
        color: rgb(62, 207, 111);
        text-decoration: underline;
        transition: 0.2s;
    }

    & #Contact1 {
        cursor: pointer;
        position: relative;
        left: 1200px;
        top: 10px;

        & #insta {
            height: 40px;
        }

        & #github {
            height: 40px;
        }
    }
}

/* INTRODUÇÃO */
.intro {
    position: absolute;
    color: #fcf9f9;
    left: 100px;
    top: 200px;
    transition: text-shadow 0.3s ease;

    & h1 {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 50px;
        animation: slideInUp 0.6s ease-out;
    }

    & p {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        position: absolute;
        left: 10px;
        margin-top: -30px;
        font-size: 23px;
        animation: slideInUp 0.6s ease-out;
    }

    #icon1 {
        position: absolute;
        z-index: 3;
        height: 140px;
        top: 200px;
        left: 960px;
    }
}

.intro:hover {
    text-shadow: 0 0 10px rgb(55, 184, 98);
    transition: text-shadow 0.3s ease;
}

/* FOTO */
#foto1 {
    position: absolute;
    left: 830px;
    top: 150px;
    width: 360px;
    height: 360px;
    border-radius: 50%;
}

#circle {
    position: absolute;
    z-index: -1;
    top: 155px;
    left: 835px;
    width: 360px;
    height: 360px;
    border-color: rgb(48, 122, 64);
    box-shadow: 0px 0px 20px rgb(48, 122, 64);
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

#circle.aumentar-sombra {
    box-shadow: 0 0 30px rgb(55, 184, 98);
    transition: box-shadow 0.3s ease;
}

/* BIOGRAFIA */
#bio {
    position: absolute;
    top: 850px;
    left: 120px;
    color: #fcf9f9;
    animation: slideInUp 0.6s ease-out;

    h1 {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 55px;
        transition: text-shadow 0.3s ease;
    }

    h1:hover {
        text-shadow: 0 0 10px rgb(55, 184, 98);
        transition: text-shadow 0.3s ease;
    }

    h1:hover span {
        transition: text-shadow 0.3s ease;
        text-shadow: 0 0 10px rgb(55, 184, 98);
    }

    & #biografia {
        position: absolute;
        z-index: -1;
        display: flex;
        background-color: rgb(36, 36, 36);
        border-color: rgb(55, 184, 98);
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        width: 700px;
        height: 300px;
        top: 120px;
        transition: box-shadow 0.3s ease;
        z-index: 2;
    }

    #biografia:hover {
        transition: box-shadow 0.3s ease;
        box-shadow: 0 0 10px rgb(55, 184, 98);
    }

    p {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        position: absolute;
        top: 14px;
        font-size: 19px;
        left: 50px;
        z-index: 5;
    }

    #foto2 {
        width: 360px;
        height: 360px;
        border-radius: 10px;
        margin-left: 750px;
        margin-top: -55px;
        box-shadow: 0px 0px 10px rgb(67, 216, 117);
        transition: box-shadow 0.3s ease;
    }

    #foto2:hover {
        box-shadow: 0px 0px 25px rgb(55, 184, 98);
        transition: box-shadow 0.3s ease;
    }
}

/* ÍCONES */
.vsicon {
    position: absolute;
    height: 400px;
    top: 1150px;
    left: 100px;
    z-index: -3;
    filter: blur(8px) opacity(70%);
    transform: rotate(-30deg);
}

.hubicon {
    position: absolute;
    height: 400px;
    top: 750px;
    left: 700px;
    z-index: -3;
    filter: blur(12px) opacity(40%);
    transform: rotate(8deg);
}

.htmlicon {
    position: absolute;
    height: 250px;
    top: 1800px;
    left: 60px;
    z-index: -3;
    filter: blur(15px) opacity(30%);
    transform: rotate(10deg);
}

.giticon {
    position: absolute;
    height: 350px;
    top: 2200px;
    left: 900px;
    z-index: -3;
    filter: blur(10px) opacity(70%);
    transform: rotate(-10deg);
}

/* TECNOLOGIAS */
h2 {
    position: relative;
    color: #fcf9f9;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    top: 1550px;
    transition: text-shadow 0.2s ease;
}

h2:hover {
    text-shadow: 0 0 10px rgb(55, 184, 98);
    transition: text-shadow 0.3s ease;
}

h2:hover span {
    transition: text-shadow 0.3s ease;
    text-shadow: 0 0 10px rgb(55, 184, 98);
    /* mesma sombra no span */
}

#tecnologias {
    position: relative;
    display: grid;
    gap: 20px;
    top: 1570px;
    left: 50%;
    transform: translate(-50%);

    & tr {
        justify-content: center;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    & .cartao {
        top: -50px;
        background-color: rgb(36, 36, 36);
        border: 4px solid rgb(55, 184, 98);
        border-radius: 30px;
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        transition: all 0.4s ease;
        overflow: hidden;
        color: #fcf9f9;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        cursor: pointer;

        & .ImgTec {
            margin-top: 30px;
            width: 60%;
            transition: transform 0.4s ease;
            transition: 0.4s ease;
        }
    }

    .cartao:hover {
        width: 280px;
        height: 350px;
        box-shadow: 0 0 20px rgb(55, 184, 98);
    }

    .cartao:hover .ImgTec {
        transform: scale(0.8);
        margin-top: -7px;
        transition: 0.4s ease;

    }

    .texto {
        opacity: 0;
        transition: opacity 0.4s ease;
        font-size: 13px;
        padding: 10px;
        text-align: center;
        position: absolute;
        bottom: 0;

        & h3 {
            position: relative;
            font-size: 20px;
            top: 20px;
        }
    }

    .cartao:hover .texto {
        opacity: 1;
    }
}

.Certificados {
    position: absolute;
    top: 2380px;

    & h4 {
        position: relative;
        color: #fcf9f9;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 58px;
        left: 60px;
        transition: text-shadow 0.3s ease;
    }

    h4:hover {
        text-shadow: 0 0 10px rgb(55, 184, 98);
    }

    .Certs {
        display: flex;
        gap: 20px;

        #certBox {
            cursor: pointer;
            position: relative;
            top: -50px;
            left: 60px;
            width: 380px;
            height: 300px;
            background-color: rgb(36, 36, 36);
            border-radius: 25px;

            & .certbar {
                position: relative;
                width: 380px;
                height: 150px;
                background: linear-gradient(to top, rgb(55, 184, 98), rgb(62, 207, 74));
                border-radius: 0 0 20px 20px;
                top: 50%;
                z-index: 4;
            }

            & h4 {
                cursor: auto;
                position: relative;
                font-size: 22px;
                left: 25px;
                top: -10px;
                z-index: 4;
            }

            & p {
                cursor: auto;
                position: absolute;
                font-size: 17px;
                color: #fcf9f9;
                font-family: "Manrope", sans-serif;
                font-weight: 600;
                font-style: normal;
                margin-left: 50px;
                top: 230px;
                left: -25px;
                z-index: 4;
            }

            & .certcard {
                position: absolute;
                width: 380px;
                top: 0;
                border-radius: 25px;
                z-index: 3;
            }
        }
    }
}

#lightbox {
    position: fixed;
    display: none;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    height: 90%;
    width: 50%;
    z-index: 10;
}

#buttex {
    cursor: pointer;
    position: fixed;
    display: none;
    top: 30px;
    left: 299px;
    width: 40px;
    height: 30px;
    background-color: rgb(201, 21, 21);
    color: #fcf9f9;
    border: none;
    z-index: 6;
}

/* PROJETOS */
#Projetos {
    position: relative;
    top: 2350px;

    & #projlink {
        position: absolute;
        top: -80px;
    }

    & h5 {
        text-align: center;
        color: #fcf9f9;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 62px;
        left: 60px;
        transition: text-shadow 0.3s ease;
    }

    & h5:hover {
        text-shadow: 0 0 10px rgb(55, 184, 98);
    }

    & .projs {
        position: absolute;
        top: 140px;
        left: 20px;
        display: flex;
        gap: 20px;

        & #projbox {
            position: relative;
            width: 460px;
            height: 300px;
            background-color: rgb(36, 36, 36);
            border-radius: 30px;

            .projmini {
                position: absolute;
                width: 230px;
                height: 300px;
                border-radius: 30px 0 0 30px;
            }

            p {
                position: relative;
                color: #fcf9f9;
                font-family: "Manrope", sans-serif;
                font-weight: 800;
                font-size: 25px;
                left: 245px;
            }

            .desc {
                position: relative;
                color: #fcf9f9;
                font-family: "Manrope", sans-serif;
                font-weight: 800;
                font-size: 12px;
                top: -10px;
                left: 245px;
            }

            .view {
                position: relative;
                cursor: pointer;
                top: 110px;
                left: 250px;
                width: 130px;
                height: 40px;
                font-family: "Manrope", sans-serif;
                font-weight: 800;
                background: linear-gradient(to top, rgb(55, 184, 98), rgb(62, 207, 74));
                color: #fcf9f9;
                border: none;
                border-radius: 20px;
            }

            .gitview {
                position: absolute;
                height: 48px;
                left: 390px;
                top: 236px;
            }
        }
    }
}

/* GIF NO FINAL */
#gif {
    position: absolute;
    z-index: -4;
    filter: opacity(30%);
    width: 1349px;
    height: 1349px;
    left: -0px;
    top: 3550px;
}

/* FOOTER */
footer {
    position: relative;
    top: 3050px;
    height: 500px;

    & h5 {
        position: relative;
        color: #fcf9f9;
        text-align: center;
        font-size: 55px;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-style: normal;
        transition: text-shadow 0.3s ease;
    }

    & h5:hover {
        text-shadow: 0 0 10px rgb(55, 184, 98);
        transition: text-shadow 0.3s ease;
    }

    & #contato2 {
        margin-top: -60px;
        margin-left: 560px;

        #insta2,
        #github2 {
            cursor: pointer;
            height: 80px;
        }

        p {
            font-family: "Manrope", sans-serif;
            font-weight: 800;
            font-style: normal;
            margin-left: 50px;
            margin-top: 40px;
        }
    }
}